/* Main */
main{
	margin-top: 60px;
	background: #F0F0F0;
	line-height: 1;
	padding: 50px 0;
}
main .row{margin-top: 30px;}
main .col-20{width: 20%;padding-right: 15px;}
main .col-80{width: 80%;padding-left: 15px;}
main .box{
	background: white;
	border-radius: 5px;
	border: solid 1px #ddd;
	width: 100%;
	margin-bottom: 15px;
}
main .box-row{
	padding: 15px;
	border-bottom: solid 1px #ddd;
	width: 100%;
}
main .box-row:last-child{border-bottom: 0;}
main .col-20 .box-row a{color: black;transition: all 100ms}
main .col-20 .box-row a:hover, main .col-20 .box-row p{color: #20BF6B;}
main .search{margin-bottom: 30px;}
main .search form{width: 100%;position: relative;}
main .search form input[type="text"]{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: solid 1px #ddd;
	border-radius: 5px;
	transition: all 300ms;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right: 75px;
}
main .search form input[type="text"]:focus{border-color: #20BF6B;}
main .search form input[type="submit"]{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 5px 5px 0;
	background: #20BF6B;
	border: 0;
	transition: all 300ms;
	color: white;
	font-size: 16px;
	padding: 10.5px 10px;
}
main .search form input[type="submit"]:hover{background: #1CA65C;cursor: pointer;}
main .things .head{
	background: #2c3e50 !important;
	color: #ecf0f1;
	border-radius: 5px 5px 0 0;
	padding: 15px 0;
}
main .things .box-row{
	display: block;
	padding: 15px;
	position: relative;
	transition: all 300ms;
}
main .things .box-row:hover{background: #F8F8F9;}
/*main .things .box-row a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
main .things .box-row .name{width: 50%;padding: 0 15px;}
main .things .box-row  h2 a{
	color: #20BF6B;
	line-height: 1.25;
	font-size: 22px;
}
main .things .box-row .name p{line-height: 1.25;}
main .things .box-row .offer{width: 20%;padding: 0 15px;}
main .things .box-row .price{width: 30%;padding: 0 15px;}
main .things .box-row h2, main .things .box-row p{display: block;line-height: 1.25;}
main .things .box-row .info{font-size: 0;display: block;}
main .things .box-row p{display: inline-block;width: 50%;font-size: 16px;}
main .things .box-row .btn-ctr{margin: 15px 0;}
main .things .box-row .btn-ctr .btn{display: inline-block;margin: 2.5px 0;}
main .things .box-row .btn-ctr .btn a{color: white;}
main .things .box-row .img-ctr{font-size: 0;text-align: center;margin-top: 5px;}
main .things .box-row .img-ctr .col{display: inline-block;font-size: 0;vertical-align: top;}
main .things .box-row .img-ctr .col:first-child{width: 60%;padding-right: 7.5px;text-align: center;}
main .things .box-row .img-ctr .col:last-child{width: 40%;padding-left: 7.5px;text-align: left;}
main .things .box-row .img-ctr .col p{font-size: 16px;}
main .things .box-row .img-ctr .col img{max-height: 350px;}
/*main .things .box-row .img-itm{display: inline-block;margin: 5px;}
main .things .box-row .img-itm.big{max-width: 350px;max-height: 350px;}
main .things .box-row .img-itm.med{max-width: 250px;max-height: 250px;}
main .things .box-row .img-itm.small{max-width: 175px;max-height: 175px;}*/
main .things .box-row img{
	object-fit: cover;
}

/* Responsive Stuff */
@media screen and (max-width: 768px) {
	main .col-20{display: none;}
	main .col-80{width: 100%;padding: 0;}
	main .things .box-row p{width: 100%;}
}
@media screen and (max-width: 576px) {
	main .things .box-row .name,main .things .box-row .offer,
	main .things .box-row .price{width: 100%;padding: 5px 15px;}
	main .things .box-row .offer::before{content: "Sisa Waktu : ";}
	main .things .box-row .price::before{content: "Penawaran Selanjutnya : ";}
	main .things .box-row.head .offer, main .things .box-row.head .price{display: none;}
	main .things .box-row .img-ctr .col:first-child{width: 100%;padding: 0;text-align: center;}
	main .things .box-row .img-ctr .col:last-child{width: 100%;padding: 0;padding-top: 5px;text-align: left;}
}