main .things .box-row .name{width: 30%;padding: 0 15px;}
main .things .box-row .offer{width: 15%;padding: 0 15px;}
main .things .box-row .status{width: 15%;padding: 0 15px;}
main .things .box-row .count{width: 20%;padding: 0 15px;}
main .things .box-row .price{width: 20%;padding: 0 15px;}
@media screen and (max-width: 576px) {
	main .things .box-row .name,main .things .box-row .offer,
	main .things .box-row .price,main .things .box-row .status,
	main .things .box-row .count{width: 100%;padding: 5px 15px;}
	main .things .box-row .offer::before{content: "Transaksi : ";}
	main .things .box-row .status::before{content: "Status : ";}
	main .things .box-row .count::before{content: "Jumlah Penawaran : ";}
	main .things .box-row .price::before{content: "Penawaran Tertinggi : ";}
	main .things .box-row.head .offer, main .things .box-row.head .price,
	main .things .box-row.head .status, main .things .box-row.head .count{display: none;}
}