/* Main */
main{
	margin-top: 60px;
	background: #F0F0F0;
	line-height: 1;
	padding: 50px 0;
}
main .row{margin-top: 30px;}
main .col-20{width: 20%;padding-right: 15px;}
main .col-80{width: 80%;padding-left: 15px;}
main .box{
	background: white;
	border-radius: 5px;
	border: solid 1px #ddd;
	width: 100%;
}
main .box-row{
	padding: 15px;
	border-bottom: solid 1px #ddd;
	width: 100%;
}
main .box-row:last-child{border-bottom: 0;}
main .col-20 .box-row a{color: black;transition: all 100ms}
main .col-20 .box-row a:hover, main .col-20 .box-row p{color: #20BF6B;}
main .col-80 .box-row h1{color: #20BF6B;margin-bottom: 15px;}
main .col-80 .box-row h2{color: #333;margin-bottom: 5px;font-size: 24px;}
main .col-80 .box-row .img-ctr{font-size: 0;text-align: center;margin-top: 5px;}
main .col-80 .box-row .img-ctr img{margin: 5px;display: inline-block;}
main .col-80 .box-row p{line-height: 1.25;}
main .col-80 .pricing{margin-top: 15px;}
main .col-80 .pricing .box-row{display: flex;flex-wrap: wrap;}
main .col-80 .pricing .box-row div{flex: 1;}
main .col-80 .offers{margin-top: 15px;}
main .col-80 .offers .box-row{
	display: flex;
	flex-wrap: wrap;
}
main .col-80 .offers .box-row .pic{flex: 10%;}
main .col-80 .offers .box-row .pic img{
	padding: 10px;
	border-radius: 50%;
	border: solid 1px #ddd;
	overflow: hidden;
}
main .col-80 .offers .box-row .det{
	flex: 90%;
	padding-left: 15px;
	position: relative;
}
main .col-80 .offers .box-row .det .btn{
	position: absolute;
	top: 0;
	right: 0;
}
main .col-80 .offers .box-row .det h2 a{color: #20BF6B;transition: all 300ms;}
main .col-80 .offers .box-row .det h2 a:hover{color: #1CA65C;}
main .col-80 .offers .box-row .det p{font-size: 20px;width: 80%;}
main .col-80 .offers .box-row .det p.desc{font-size: 16px;}

/* Responsive Stuff */
@media screen and (min-width: 768px) and (max-width: 992px) {
	main .col-80 .offers .box-row .pic{flex: 15%;}
	main .col-80 .offers .box-row .det{flex: 85%;}
}
@media screen and (max-width: 768px) {
	main .col-20{display: none;}
	main .col-80{width: 100%;padding: 0;}
}
@media screen and (max-width: 576px) {
	main .col-80 .pricing .box-row div{flex: 100%;margin: 5px 0;}
	main .col-80 .offers .box-row .pic{flex: 100%;text-align: center;}
	main .col-80 .offers .box-row .pic img{max-width: 150px;}
	main .col-80 .offers .box-row .det{flex: 100%;padding-top: 15px;}
	main .col-80 .offers .box-row .det .btn{position: relative;margin: 15px 0;display: inline-block;}
}